// Ajax Load More 
//––––––––––––––––––––––––––––––––––––––––––––––––––

#ajax-load-more {
  float: left;
  width: 100%;
}

button.alm-load-more-btn {
  font-family: $font-primary-book;
  margin-top: 20px;
  display: inline-block;
  padding: 0 26px;
  line-height: 55px;
  height: auto;
  color: #555555;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: .4rem;
  color: #555555;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 2px solid #000;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 0;
  text-transform: uppercase;

  @include global-transition;

  &:hover {
    background: $black;
    color: $white;
    border-color: $black;
    outline: 0;
    @include global-transition;
  }
}


button.alm-load-more-btn:active, button.alm-load-more-btn:focus {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  text-decoration: none;
}

button.alm-load-more-btn.done {
  display: none;
}


@media (max-width: 767px) {
  .alm-btn-wrap {
    padding: 0 0 40px 0;
  }
}

// Remove loading gif from load more button 

button.alm-load-more-btn.loading:before {
  display: none;
}

// Remove padding added to button when loading gif is visible

button.alm-load-more-btn.loading {
  padding-left: 26px !important;
}